.gradle/
build/
.idea/
*.iml
local.properties
.cxx/
*.apk
*.aab
*.idsig
*.bak
.kotlin/
build_manual/
/tmp/
.DS_Store

# Schlüssel und Passwörter – NIE ins Repo laden!
*.keystore
*.jks
keystore.properties
